<div fxLayout="column" fxLayoutGap="10px" class="container">
  <div fxLayout="row" fxFlex="33%" class="block-1">
    <div fxFlex fxLayoutAlign="center center" fxFlexFill class="grid-item">A</div>
  </div>
  <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxFlex="33%" class="block-2">
    <div fxFlex.gt-sm="70%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill class="grid-item">B</div>
    <div fxFlex.gt-sm="30%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill class="grid-item">C</div>
  </div>
</div>